[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = git://github.com/ZoupPowered/bootstrap.git
[submodule "lib/less.js"]
	path = lib/less.js
	url = git://github.com/cloudhead/less.js.git
[submodule "lib/theme-options"]
	path = lib/theme-options
	url = git://github.com/leemason/NHP-Theme-Options-Framework.git
